Source: 9x9-sudoku
Section: user/games
Priority: optional
Maintainer: Tomi Ollila <tomi.ollila@iki.fi>
Uploaders: Tomi Ollila <tomi.ollila@iki.fi>
Build-Depends: debhelper (>= 4.0.0), libosso-dev, libdbus-glib-1-2, libglib2.0-0, libosso1, libpango1.0-0, libfreetype6, libcairo2, libdbus-1-3, libhildon1, libhildon1-dev, libfontconfig1, libatk1.0-0, libgtk2.0-0 
Standards-Version: 3.6.1

Package: 9x9-sudoku
Section: user/games
Architecture: armel
Depends: perl-base (>= 5.6)
Provides: 9x9-sudoku
Replaces: thumb-sudoku
Description: 9x9 Sudoku
 A Sudoku Game playable with fingers (ymmv).
XB-Maemo-Icon-26:
iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAAAAXNSR0IArs4c6QAAAAZiS0dEAP8A
/wD/oL2nkwAAAAlwSFlzAAAOxAAADsQBlSsOGwAAAAd0SU1FB9oHExEVDzUTg0oAAAAZdEVYdENv
bW1lbnQAQ3JlYXRlZCB3aXRoIEdJTVBXgQ4XAAASJUlEQVRo3sVZe3BV1bn/vrX2Pnvvc/Y5OSEh
8RCSEE5iEgIDaMdWWrE6jre1eKeYTmGKrdRHH9KqMF5RobQMFKcUsU5rWzpU2uqdKXbutB21dXTm
qtXpoKAICcIJkAd5v3OS89x7rfXdP87e4aBQvb3eumfWJJnsvdb3+H2/77EQvEcIFc5k4I5cDlfn
89TiOFjGGAEAwsf7ECiFoGkwZVnwrmnCc7oO+ywLJ8CXbnSUlmcy9GQmA8tKS1EYBgnGELAg+8eu
AVFBCdclNj4OAcvChGnSXZddxl7DyUkVHh/Hv0kJy+JxGGUMGCIxAGQAhAUF8GOVHwAIABUAKSlR
nTsHc4Sg7mgUP8WEwDtmZmjZwoUwxBgpRCAABCJCAEQi8JT41y8i8s5HJCIgAmIMVE0NjGYyGOcc
Nmv9/bC6tBSzmgaCCJj3IStoDYCIQESAiMU+veDvjwgn7zvDO5+IiBCRAEABgOQcVFkZpHp74WYm
BLQEApADIIGIgogEAMz+TkQuIrpE5HZ1dUnXdV1EdIjIBYCPZPlnAIBz9uxZ/wz/fwIABBFJABCF
RcI0IZPPU52Wz8McXachAJREJD2NwdOWEJGUUtTd3c2Ghob4xMSEam5uFsFgkD4KT/h7CCHw1KlT
fLy/X0tPTanmpUulrmlQMD4CFR7XMy5pGjlSgqZJSUSE0vMA87T0PyQAoK6uLhwaGuKMMZHL5eDk
yZMUj8dFNBpV/xcl/G+z2SyePn1aV4zJxM9+ZrvZLKMf/WiiZelSoWkaK8QjkCebLAQ2SiGIGBFK
IlAAqDw3SUSUiCgBQCYSCRwaGgJEVEopYIxRPp+HRCLBhoeHwXtP/W8XESlElMlkktrb23kqlYLM
zAy0fOtb06mOjsDfH364tO3ECSaEmJXl/FkoiUgRoWIARAXmIfI2JgBQSik6e/YsHxsbY55ngDFW
+DcRKKVYZ2dnYGBgQFdKzbLGh2EW//fx8XHtVCJhZKamNM8lyMrKxNU/+cnoxOHD1qEHHig/ceyY
5gqhEAtCF5TwqZUkX7/+B1vnzoWZUAgdRAQsBAF2dnbqw8PDHD18IOeQGRjQzuzfHxl44YVQdmBA
C9bUiLSUmM/lWDgcJs65j45LKoCIoJSCvr4+vbe3VxP5PB7ftq1MC4WUvWCBICmZUVEhYytXZk8+
8UTpeCKhG83NTllFheCcK3/7fB71oSEI89tu+8GWigpKh0Lo+of09PQYAwMDui8QIkJ6YEA7fPfd
cwPRqArX17vdv/99eOAvf7FLFi1yKBym8bExbts2GIZxAQ3OauTFSTabZR0dHfro6Cjv7+/XuK6j
nJjgHT//eUl0yRInWFUlRT6PVmWlEq4LPQcPRigUUoF43JlbXi686MFcDrXhYQizQmwUYsRzL9TU
1LjhcFgRETLGEADYuYMHw+GmJveGAwfGW7797dSnn3pqRKRS+Pb995cnOzoCQkpsa2sL9Pb26rlc
jgHA7EJENj4+rnV1dent7e3GVAEyuH///pL2trbA8g0bpuevWpU5+sAD5RNHjxqapiEQYW50lDdt
2jR5+bp1qXhdnTwPQZx1tOYxDQAg+kowxrCpqUmcOnVKT6fTiESQHxvjwVhMzExOsnw6jVZlpVxw
660zZ3/1q5K2HTtKr/7FL8a4bavu7m5teHiYRyIRZVmWn4jgxz/+cUl7e3tg8+bNyWg0Kh3HwWQy
yWzbpnQmwxbfd980IMLbDz44p2rVqrTM5dj4G2+YSzZsGG1atEgYhkFFbIQABFioeQj8msfDOxIR
GoYBDQ0NQtd1AM6hZNEit+9Pf7LHjh41kHOWHxvTZk6dCjR885vTTjLJup95xrbCYeCcg+u6ODY2
xvv6+nhvb682ODioXXfddfn+/n7tkUceKclms5wxhkopME0TEACFELh048aZJVu2TI299ZaVOndO
/9QTT4w3Llvm2qEQeNXBrIx+kakVw/S9bBEMBqGhoUElEgle09qaGXvjDePvd95ZXv3FL2ZSXV0a
KAW1ra3Z7MCANtHWFhBSIiKy9+JfCAELFiwQu3fvnrzvvvvmPProoyX33HPPtJSSOY7DJicnueu6
KKWEwJIl4vN//OMIYwzmhMNUGo1SMXMREfPqNQYAgK+8QplFi2Bs7lzKeucyAOC+IIgIo6OjrLO7
W1PZLPT8+c/BqbY2PdzQIOKtrRk9GlVHHn44SlLCVY89NpWfmcGiOgaICDRNA8YYBQIBePfdd7WH
HnqotLq6Wpw+fVqPxWKCcw5EhPl8Hq688krn9ttvT9fV1Ynq6mrpy+BTqPcTpqbIOH4cKzQ/qj2G
8wPZ52sgIigvL6dsNqv6+/t5fO3aLH75y1lijITrYs/zzwfH33knsGz79iQJMfud/20gEKDp6Wk2
MjLCbdum5uZm8fjjj0/df//90Ugkor7xjW+kw+EwMcaAc06VlZUqFoupqqqq2W7KMwh61QH6daYH
Id89BSUuwt2AiFBVVUXT09MwMzPDEFEBERv+29+Mjn377Ma77kpXr1zppqamOGOsWHh14sSJwIED
B0IdHR26ZVlq9erVmS996Uu5PXv2TG3atCn64osvmhs3bkxblqWUUqhpGtXU1CjGWLEx6P0QKsjG
16///pa5czEbCoEsgtBs9vUfxhjYtq3Gx8e5Ugqx8CLGVq505l1/veNkMhgIBEBKCQAAhmFAT08P
37VrV6SxsVF8/etfT4fDYfrd734XSqVSeMMNNzjLly93fvOb39imaVJjY6OQUmJDQ4O0bZuK42g2
mXq1GSJgLod8eBiCmpcDLoCQn43fW3wFg0GoqamRZ86c0RhjYC9cKAEAhOPgVDLJRkdHWVNTk3Ac
BwzDoFdffdUUQuD69eszkUiEli1bJqqqqtT27dvDn/jEJ9xrrrnG2bt3b7KsrExJKVksFpOlpaXv
a8QvDSECdiGEZhsaHz6zycijMVZaWgq2bQMiMiklk1IyTdOwp6dH27ZtW/jll182LMvyD4Pp6WmW
z+eZUgpd18Xrr7/eicfj8tChQ4F0Os1qa2uVZVmo6zpcdtllVHxW0bqAhYrkBXaeQcFnj+Kc8L7y
V9d1iEQiF7jYcRxsamoSq1atyv/0pz8NPffccwbnHFasWCEQkZ5++mlLKYWRSAQQEYUQGI1GiXOO
UkokIrBtmwKBwEXLbp/7z8uE6OtUxELgNw6XhJD/mKYJ71XQtm26+eabnba2Nv2HP/xhGBGxtbU1
d/fdd2f37NkTGhkZ4ddcc41z+PBh3TAMuvHGG50ibINpmugF7kX7hgshBABAzGOh8zFwsZL3EjrM
7uN7pa2tTX/yySetWCymFi1aJPbu3RsyTRNWr17t2LYNTz31lPnrX/86WFdXJ7/3ve9l5s2bR67r
zpYG3obsksOhC1gIya/ftPOVIqGff/wNL2YNAIBcLjfrIc45zMzM4IEDB8z6+nq5bt26nJQSnnnm
GWPPnj3BfD6Pt9xyS37p0qUimUxiaWkpBYNBcl23GLKQz+dRKQVeUnuftYqQQecNfgGEPpiFEBEc
x/FzARIRMMZgcnKSnzt3TvvKV76SiUQioJSCO++805mYmOA7duwI5XI5XLVqlWtZFimlwHEcLM7U
AACpVAodxyHLsuhDQqg4iD+Yhby8gMlkkqdSKQ4ALMAYckSMRqNUWVmpXn/9dd1X3rZtuPrqq93y
8nKVSCQ08ro4n2GQMcYYQ8Y5IiLL5/NsZGTEL9g+BAshAiAW9QMfzEK5XA7PnTvHNU0DmcnAW7t2
Wb0vvRSIxWJ0yy23OC+88ELg4MGDhpQSc7kcHjp0SP/sZz8r7rnnnlzxfoZpEgoBM+3tPHP6NGeM
gWFZNDg4yJPJJPtgFiIvF9CHg5DPTl1dXUwIAYwx4JaFoepqan/sMVOPRtXnv/AFMT09nf/lL39p
/OEPfwjouk6hUAi2bduWDYVCkM/nCwxmWTDT18ff2bnTdCYmWH5yEkuamuSie+/Nh+vqZHd3N29u
blaBQGCWqi8OIa8neOUVlW1pgXR5eaGl9ATnRa4DAICBgQHs7+9HzhhKb95IRJDYty/Q99xz+vId
O3LVn/mMONHezo4cOaIREVx77bWiqqpK+QGLiABSwpubNplmZSXVr1/vuMkkvvXwwyYQ4ZW7d2ej
TU2qvKyMamtrFWPMF352KufPqqamQDt+nGxW3AtcDEKF0nUKB4eGWG5sjLU/9pjBHMfnPmi86y5n
3uc+J97essXse/llrWXxYrVmzRp37dq1rk+VvvCMMUh1dLB0by+P33qrW9rQQOVXXKE+uWdPLj86
im/ee6+V7u1lY+PjODw8jJeGEPjlxIVBXPyi766ZmRnW2dnJAQCZpuHEsWP88NatVtA0USmFTNex
/mtfc+26OjqydavZ/8YbGuMchRDoCV8MSeS6jk4yCZnBQaaUQieTwcrLL6eyq66S3DTh+K5dJiBi
X18fHxkZ4cXfFkFodmrO3tORseIXc7kc6+rq4slkkp3r6eHGnDmwfMcOJ93Xx/7+0ENmKBgssAjn
YNfXqwVr1ojwwoUgCgmKofd4yYcppTDU2EiVn/60Orp1qzH02ms8iIiHdu82gvPm0bLt2/PJd99l
M52dnIhYb28vSyaTrFjoAgv5jEnAfAbyR9i+B4QQ2N/fj4cPH+YbNmww//rXv2pSCAhVV6srduzI
TycS7L/vuMOYfPNNfnr//kDq7FkWv/VWwUyTGGM4Z84cisViFIvFqLy8nLxSG4kIlmze7My78UZ5
fOdO8/nVq6382BiLf/Wr7mUrVyrkHPLj44iIJKXE7u5uls1mi5V4by1E/kQCi7NeR0cHO3nyJNuy
ZUtgy5Yt7lVXXSVt28ZQKASRSIT4o486p/bt017fuNEoXbJELdm82dUsCyorKtATmPzmBgDIcRyY
nJzEvr4+ptk2Ld60SaTXrJHKdSE4fz6VVFZCz0svaSQlhONx8rNuLpeDRCKBLS0tTNd1dV4JT94C
C2G+vJyk742enh5teHiYHzhwQB8cHMTdu3c7w8PD+PTTT2vPPvssX7FihfqPBx5wkQhkLgeoaRAq
KaGa6moqKSl534y/eLCVyWSgq6sL0+k0Ms7B424Ye/NNduTBBwNN3/mOW9vaKkkpIKXAn+RFIhHZ
3Nzs+vcWU1PEjh8Hk9922/e3VlSgDAYL5yEiRiIRdF0XOzo62PPPP8+TySTu3btXdxwHb7rpJvXa
a6/xoGXBkqVLQTGGcysqYGFdHYRCoX84I0VE1HUdy8rKAAAwNTODSimkXA5P//a3et3ataL65psV
ECEphYgIUkoIh8MqHo8rTdP8mRDmcsiGhkDTEFF542pCBL++odraWrVu3Trhui4eOXKEffe73xVX
XHEFmaYJ7e3tTAiBQATzYjGIxWJQXAr/o3E7EQHnHObPnw+WZUFPTw8qw4AlDz4omK4DEKFSivzk
GQ6Hob6+ngzDIM84dH57JE2pgvDebeAs9hhj0NjYiLfffrtobW31h7L46quvsrNnz+LWrVtVRUUF
VFZWUlEOuehc9BLFGZSXl5Ou69DZ2YmiMFiGIhnAMAxVX18vDcOQRKQAQJ2fJBamdBoASm9UTZ7l
VNFG1NDQoLq6urRjx47xxx9/XBsbG8OdO3e6LS0tqqgzo3/mkoOIoKSkhBobG6Gzs5NlMhnyYEOe
5YVhGNLLwOr8fR1g4SoApFZI0eS/NHuh5g2RGCLy2tpaN5PJaDfddJO+YsUKd/ny5TLoB82HtPo/
UiIYDMLll18OiUSCp1IpDIfD5Ak/exnilRLF8cQBgGkAMC4EhAFQeFoqAPAnYn5MYHNzM5qmqc2b
N09alkX/rMCXUiIQCMDixYshkUhoCxYsEIZhQJExqaiU5gCIQgASQU5Lp+ntdBquLXgBfU9IRPSv
gcBXIh6Pk39/9v9wHQ+ISE1NTReLF1ZkdQ0AeDpNmuPAGW3hQvivwUH8t9paynAOCrGggH9j6eEb
iy/zPuo7Yrh04+1bXhWVOVIpxMFBNEMh+jOTEl/M5eDomTPIlfIrV/AChdDv/gsy079wQbHl/W4F
lALo6SE+PQ2n58/H/0QAgFOn6JPd3fBIMEhNVVWQsm0Qul64JyZCKtrwX/wgIBaSohCI6TTpAwMQ
TqWgs7YWtzY14cuzWHjnHVVm27iqrQ3+3bIgTkR6QXj42BQoQMgvpVG5LnU2NMBfdB2fbWjAQQCA
/wEunbBZwKMDTQAAAABJRU5ErkJggg==
